@{
    Layout = null;
}

<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>myView</title>
    </head>
    <body>
        <strong>hello c</strong>
        <a asp-action="Register">Dang ky hoc</a>
        @ViewBag.WhoIAm 
        @ViewBag.Hour
    </body>
</html>